.navbar-brand {
  max-width: 200px;
  @include for-size(mobile){
    max-width:120px;
  }
}
.search-wrap {
  position: relative;
  max-width: 450px;

  .form-control {
    height: calc(2.4em + 0.75rem + 2px);
    border-radius: 5rem;
    padding: 1rem 3rem 1rem 2rem;
    background-color: rgba($white, 0.1);
    border-color: rgba($dark, 0.25);
    color: $gray-800;
    font-size: 0.95rem;
    @include placeholder {
      color: $gray-500;
    }
    @include for-size(mobile){
      height: calc(1.5em + 0.75rem + 2px);
      padding: 1rem 3rem 1rem 1rem;
    }
  }

  .btn-search {
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba($dark, 0.25);
  }
}

.header-users-links {
   .userlinks-lists {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
    @include flex-item(row, center, center);
    &> li {
      position: relative;
      padding-left: 3rem;
       a {
        color: $gray-600;
        @include flex-item(row, start, center);
        text-decoration: none;
        font-size: $text-xs;
        position: relative;
        i {
          font-size: 2rem;
        }
        .badge {
          position: absolute;
          background-color: $warning;
          right: -0.5rem;
          top: -0.5rem;
          @include flex-item(row, center, center);
          color: $gray-900;
          border-radius: 50%;
          padding: 0.25rem;
          font-weight: 500;
          height: 20px;
          width: 20px;
        }
      }
      &:not(:last-child):before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 30px;
        right: -1.75rem;
        background-color: $gray-500;
      }
    }

    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }
  @include for-size(upmd){
    position:absolute;
    top: 48px;
    right:60px;
    .userlinks-lists{
     > li {
      padding-left: 1rem;
       a {
        color: $gray-600;
        i {
          font-size: 1.5rem;
        }
        .users-links-detail{
          display: none;
        }
      }
      &:not(:last-child):before {
        display: none;
      }
     }
}
}
}
.navbar-toggler {
  .navbar-toggler-icon {
    position: relative;
    height: 3px;
    width: 28px;
    border-radius: 5rem;
    background-image: none;
    background-color: $primary;
    transition: all 0.35s ease-in-out 0s;

    &:before,
    &:after {
      content: "";
      width: 100%;
      height: 3px;
      border-radius: 5rem;
      background-color: $primary;
      position: absolute;
      left: 0;
      top: -8px;
      transform-origin: right;
      transition: all 0.35s ease-in-out 0s;
    }

    &:after {
      top: 8px;
    }
  }

  &[aria-expanded="true"] {
    .navbar-toggler-icon {
      background: none;

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
        top: 12px;
      }
    }
  }
}
.categories-dropdown{
  @include for-size(desktop){
    top: 0.5rem;
    position: relative;
    .btn{
      border-radius: 0.5rem 0.5rem 0 0;
      padding: 0.5rem 2.5rem;
    }
  }

  .dropdown-menu{
    min-width: 100%;
    border: 0;
    border-radius: 0 0 .25rem .25rem;
  }

}


.navigation-wrapper {
  background-color: $primary;
  border-top: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;
}
#mainNavigation {
  position: relative;

  .navbar-nav {
    .nav-item {
      position: static;

      .nav-link {
        color: $white;
        border-radius: 0.25rem;
        padding: 0.5rem 1.5rem !important;
        position: relative;

        &:hover {
          color: rgba($white, 0.75);
        }

        &[data-toggle="dropdown"]:after {
          content: "\f107";
          font-family: "Line Awesome Free";
          font-weight: 900;
          position: absolute;
          right: 3px;
        }
      }

      .dropdown-menu {
        width: 100%;
        padding: 1.5rem;
        transition: all 0.25s ease-in-out 0s;
        box-shadow: 0 1rem 1rem rgba($dark, 0.15);

        .sub-menu-head {
          color: $dark;
          font-size: $text-md;
          font-weight: 500;
          margin: 1rem 0;
        }

        .dropdown-sub-menu {
          padding: 0;

          .dropdown-menu-item {
            list-style: none;
            margin-bottom: 0.5rem;

            .dropdown-menu-link {
              color: $body-color;
              font-size: $text-sm;
              font-weight: 500;

              &:hover {
                color: $dark;
                text-decoration: none;
              }
            }
          }
        }

        @include for-size(lg) {
          display: block;
          margin-top: -2px;
          border: 0;
          opacity: 0;
          visibility: hidden;
          border-radius: 0 0 0.25rem 0.25rem;
        }
      }

      &:hover {
       /* .nav-link {
           background-color: $white;
           color: $dark;
        }
        */

        .dropdown-menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

@include for-size(mobile) {
  #mainNavigation.collapse:not(.show),
  #mainNavigation.navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    height: 100vh;
    overflow: auto;
    background-color: $dark;
    box-shadow: 0 5px 15px 20px rgba($primary, 0.15);
    width: 80%;
    max-width: 260px;
    padding: 1rem;
    display: block;
    visibility: hidden;
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transition: all 0.35s ease-in-out 0s;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out 0s;
    -o-transition: 0.35s ease-in-out;
  }

  #mainNavigation.show {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    visibility: visible;
  }
}
