
$min-contrast-ratio: 3.5;
//BUTTONS
$btn-font-weight:500;
$dropdown-item-padding-y: .5rem;
$btn-padding-x: 1.5rem;
$btn-padding-y: .5rem;
$btn-font-size-lg:1.125rem;
$btn-padding-x-lg: 3rem;
$btn-padding-y-lg:.75rem;
$btn-border-radius-lg:.25rem;
//HEADINGS

$headings-font-weight:500;