@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/InterThin.eot");
  src: url("../fonts/InterThin.eot?#iefix") format("embedded-opentype"), url("../fonts/InterThin.woff2") format("woff2"), url("../fonts/InterThin.woff") format("woff"), url("../fonts/InterThin.ttf") format("truetype"), url("../fonts/InterThin.svg") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/InterExtraLight.eot");
  src: url("../fonts/InterExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/InterExtraLight.woff2") format("woff2"), url("../fonts/InterExtraLight.woff") format("woff"), url("../fonts/InterExtraLight.ttf") format("truetype"), url("../fonts/InterExtraLight.svg") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/InterLight.eot");
  src: url("../fonts/InterLight.eot?#iefix") format("embedded-opentype"), url("../fonts/InterLight.woff2") format("woff2"), url("../fonts/InterLight.woff") format("woff"), url("../fonts/InterLight.ttf") format("truetype"), url("../fonts/InterLight.svg") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/InterRegular.eot");
  src: url("../fonts/InterRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/InterRegular.woff2") format("woff2"), url("../fonts/InterRegular.woff") format("woff"), url("../fonts/InterRegular.ttf") format("truetype"), url("../fonts/InterRegular.svg") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/InterMedium.eot");
  src: url("../fonts/InterMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/InterMedium.woff2") format("woff2"), url("../fonts/InterMedium.woff") format("woff"), url("../fonts/InterMedium.ttf") format("truetype"), url("../fonts/InterMedium.svg") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/InterSemiBold.eot");
  src: url("../fonts/InterSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/InterSemiBold.woff2") format("woff2"), url("../fonts/InterSemiBold.woff") format("woff"), url("../fonts/InterSemiBold.ttf") format("truetype"), url("../fonts/InterSemiBold.svg") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/InterBold.eot");
  src: url("../fonts/InterBold.eot?#iefix") format("embedded-opentype"), url("../fonts/InterBold.woff2") format("woff2"), url("../fonts/InterBold.woff") format("woff"), url("../fonts/InterBold.ttf") format("truetype"), url("../fonts/InterBold.svg") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/InterExtraBold.eot");
  src: url("../fonts/InterExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/InterExtraBold.woff2") format("woff2"), url("../fonts/InterExtraBold.woff") format("woff"), url("../fonts/InterExtraBold.ttf") format("truetype"), url("../fonts/InterExtraBold.svg") format("svg");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/InterBlack.eot");
  src: url("../fonts/InterBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/InterBlack.woff2") format("woff2"), url("../fonts/InterBlack.woff") format("woff"), url("../fonts/InterBlack.ttf") format("truetype"), url("../fonts/InterBlack.svg") format("svg");
}
/*# sourceMappingURL=fonts.css.map */