:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #ffffff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #e63946;
  --bs-secondary: #e76f51;
  --bs-success: #2a9d8f;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #ff4136;
  --bs-light: #f8f9fa;
  --bs-dark: #1d3557;
  --bs-primary-rgb: 230, 57, 70;
  --bs-secondary-rgb: 231, 111, 81;
  --bs-success-rgb: 42, 157, 143;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 255, 65, 54;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 29, 53, 87;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 29, 53, 87;
  --bs-body-bg-rgb: 240, 241, 242;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #1d3557;
  --bs-body-bg: #f0f1f2;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #e63946;
  --bs-link-hover-color: #b82e38;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #1d3557;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.btn-primary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #e63946;
  --bs-btn-border-color: #e63946;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #c4303c;
  --bs-btn-hover-border-color: #b82e38;
  --bs-btn-focus-shadow-rgb: 234, 87, 98;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #b82e38;
  --bs-btn-active-border-color: #ad2b35;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: #e63946;
  --bs-btn-disabled-border-color: #e63946;
}

.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #e76f51;
  --bs-btn-border-color: #e76f51;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #eb856b;
  --bs-btn-hover-border-color: #e97d62;
  --bs-btn-focus-shadow-rgb: 196, 94, 69;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ec8c74;
  --bs-btn-active-border-color: #e97d62;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #e76f51;
  --bs-btn-disabled-border-color: #e76f51;
}

.btn-success {
  --bs-btn-color: #000;
  --bs-btn-bg: #2a9d8f;
  --bs-btn-border-color: #2a9d8f;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #4aaca0;
  --bs-btn-hover-border-color: #3fa79a;
  --bs-btn-focus-shadow-rgb: 36, 133, 122;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #55b1a5;
  --bs-btn-active-border-color: #3fa79a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #2a9d8f;
  --bs-btn-disabled-border-color: #2a9d8f;
}

.btn-info {
  --bs-btn-color: #000;
  --bs-btn-bg: #0dcaf0;
  --bs-btn-border-color: #0dcaf0;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #31d2f2;
  --bs-btn-hover-border-color: #25cff2;
  --bs-btn-focus-shadow-rgb: 11, 172, 204;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #3dd5f3;
  --bs-btn-active-border-color: #25cff2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #0dcaf0;
  --bs-btn-disabled-border-color: #0dcaf0;
}

.btn-warning {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffca2c;
  --bs-btn-hover-border-color: #ffc720;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffcd39;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
}

.btn-danger {
  --bs-btn-color: #000;
  --bs-btn-bg: #ff4136;
  --bs-btn-border-color: #ff4136;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ff5e54;
  --bs-btn-hover-border-color: #ff544a;
  --bs-btn-focus-shadow-rgb: 217, 55, 46;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ff675e;
  --bs-btn-active-border-color: #ff544a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ff4136;
  --bs-btn-disabled-border-color: #ff4136;
}

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

.btn-dark {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #1d3557;
  --bs-btn-border-color: #1d3557;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #3f5370;
  --bs-btn-hover-border-color: #344968;
  --bs-btn-focus-shadow-rgb: 63, 83, 112;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #4a5d79;
  --bs-btn-active-border-color: #344968;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: #1d3557;
  --bs-btn-disabled-border-color: #1d3557;
}

.btn-outline-primary {
  --bs-btn-color: #e63946;
  --bs-btn-border-color: #e63946;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #e63946;
  --bs-btn-hover-border-color: #e63946;
  --bs-btn-focus-shadow-rgb: 230, 57, 70;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #e63946;
  --bs-btn-active-border-color: #e63946;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #e63946;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e63946;
  --bs-gradient: none;
}

.btn-outline-secondary {
  --bs-btn-color: #e76f51;
  --bs-btn-border-color: #e76f51;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #e76f51;
  --bs-btn-hover-border-color: #e76f51;
  --bs-btn-focus-shadow-rgb: 231, 111, 81;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #e76f51;
  --bs-btn-active-border-color: #e76f51;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #e76f51;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e76f51;
  --bs-gradient: none;
}

.btn-outline-success {
  --bs-btn-color: #2a9d8f;
  --bs-btn-border-color: #2a9d8f;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #2a9d8f;
  --bs-btn-hover-border-color: #2a9d8f;
  --bs-btn-focus-shadow-rgb: 42, 157, 143;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #2a9d8f;
  --bs-btn-active-border-color: #2a9d8f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #2a9d8f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2a9d8f;
  --bs-gradient: none;
}

.btn-outline-info {
  --bs-btn-color: #0dcaf0;
  --bs-btn-border-color: #0dcaf0;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #0dcaf0;
  --bs-btn-hover-border-color: #0dcaf0;
  --bs-btn-focus-shadow-rgb: 13, 202, 240;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #0dcaf0;
  --bs-btn-active-border-color: #0dcaf0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0dcaf0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0dcaf0;
  --bs-gradient: none;
}

.btn-outline-warning {
  --bs-btn-color: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffc107;
  --bs-btn-hover-border-color: #ffc107;
  --bs-btn-focus-shadow-rgb: 255, 193, 7;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffc107;
  --bs-btn-active-border-color: #ffc107;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffc107;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffc107;
  --bs-gradient: none;
}

.btn-outline-danger {
  --bs-btn-color: #ff4136;
  --bs-btn-border-color: #ff4136;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ff4136;
  --bs-btn-hover-border-color: #ff4136;
  --bs-btn-focus-shadow-rgb: 255, 65, 54;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ff4136;
  --bs-btn-active-border-color: #ff4136;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ff4136;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ff4136;
  --bs-gradient: none;
}

.btn-outline-light {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-gradient: none;
}

.btn-outline-dark {
  --bs-btn-color: #1d3557;
  --bs-btn-border-color: #1d3557;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #1d3557;
  --bs-btn-hover-border-color: #1d3557;
  --bs-btn-focus-shadow-rgb: 29, 53, 87;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #1d3557;
  --bs-btn-active-border-color: #1d3557;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1d3557;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1d3557;
  --bs-gradient: none;
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 234, 87, 98;
  text-decoration: underline;
}
.btn-link:focus-visible {
  color: var(--bs-btn-color);
}
.btn-link:hover {
  color: var(--bs-btn-hover-color);
}

.btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0.5rem;
}

.btn-sm {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.25rem;
}

.btn-white {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: white;
  --bs-btn-focus-shadow-rgb: 217, 217, 217;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: white;
  --bs-btn-active-border-color: white;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #ffffff;
}

.btn-soft-primary {
  --bs-btn-color: #a41520;
  --bs-btn-bg: #f4aab0;
  --bs-btn-border-color: #e63946;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f6b7bc;
  --bs-btn-hover-border-color: #e94d59;
  --bs-btn-focus-shadow-rgb: 220, 52, 64;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f6bbc0;
  --bs-btn-active-border-color: #e94d59;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f4aab0;
  --bs-btn-disabled-border-color: #e63946;
}/*# sourceMappingURL=theme.css.map */